@font-face {
  font-family: "SegoeUIV";
  src: url("/fonts/SegoeUiVariableStaticText.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  background-color: #000000;
}
h1 {
  color: #E900FF;
  font-family: SegoeUIV;
  font-size: 125%;
  margin: auto;
  text-align: center;

}
p {
  color: #FF55FF;
  font-family: SegoeUIV;
  text-align: center;
}
