@font-face {
  font-family: "SegoeUIV";
  src: url("/fonts/SegoeUiVariableStaticText.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
  
}

li 
{
  color: #E900FF;
  font-family: 'Roboto' sans-serif;
  font-size: 125%;
}

body {
  background-color: #ffffff;
}
h1 {
  color: #000898;
  font-family: 'SegoeUIV', sans-serif;
  font-size: 125%;
  margin: auto;
  text-align: center;

}
p {
  color: #000898;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
